<!DOCTYPE html>
{# *** Make sure our root and current path are defined -------------------- *** #}
{% if constant('DEF_ROOT') is defined %}
{%   set root_path = constant('DEF_ROOT') %}
{% else %}
{%   set root_path = '' %}
{% endif %}
{% if constant('CURR_PATH') is defined %}
{%   set curr_path = constant('CURR_PATH') %}
{% else %}
{%   set curr_path = '' %}
{% endif %}
{% if constant('DEF_HOME') is defined %}
{%   set home_path = constant('DEF_HOME') %}
{% else %}
{%   set home_path = '/' %}
{% endif %}
{% if page.bodyclasses is defined %}
{%   set bodyclasses = 'page ' ~ page.bodyclasses %}
{% else %}
{%   set bodyclasses = 'page' %}
{% endif %}
{# *** Begin HTML document ------------------------------------------------ *** #}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
{% include root_path ~ '/_assets/includes/page_meta.html.twig' %}
{# *** Begin body of document --------------------------------------------- *** #}
{# *** Use 'body_' prefix to uniquely identify visibly template blocks.     *** #}
{# *** Currently in use:                                                    *** #}
{# *** - access_menu          : hidden accessibility help page              *** #}
{# *** - body_header          : inher HTML of page header element           *** #}
{# *** - body_title           : displayed page title block                  *** #}
{# *** - body_sidebar_left    : left sidebar block                          *** #}
{# ***   - body_menu_left     : left menu block                             *** #}
{# ***   - body_announce_left : left announcement block                     *** #}
{# *** - body_sidebar_right   : right sidebar block                         *** #}
{# ***   - body_menu_right    : right menu block                            *** #}
{# ***   - body_announce_right: right announcement block                    *** #}
{# *** - body_content         : main content block                          *** #}
{# ***   - body_breadcrumb    : breadcrumpb links block                     *** #}
{# ***   - body_content_inner : inner content block                         *** #}
<body id="page-body" class="{{ page.bodyclasses | raw }}">
{# For accessibility, the H1 tag is place here, then hidden for view.       *** #}
{# It is repeated as a display title below to label the top of the content. *** #}
  <h1 id="first-el">{{ page.h1_title | raw }}</h1>
  {% block access_menu %}
  {% if (not page['accessibility'] is defined) or page.accessibility == 'standard' %}
    {% include root_path ~ '/_assets/includes/page_access_nav.html.twig' %}
  {% else %}
    {{ page.accessibility | raw }}
  {% endif %}
  {% endblock access_menu %}
  <header id="page-header">
    {% block body_header %}
    {% include root_path ~ '/_assets/includes/widgets/google_translate.html.twig' %}
    {% include root_path ~ '/_assets/includes/page_banner.html.twig' %}
    {% endblock body_header %}
  </header>
  {% block body_title %}
  <div id="title-box">
    <h2 class="page-title" role="presentation">{{ page.h1_title | raw }}</div>
  </h2>
  {% endblock body_title %}
  {% block body_sidebar_left %}
  <div id="sidebar-left">
    {% block body_menu_left %}
    <div id="menu-left">
      {% if (not page['pagemenu'] is defined) or (page.pagemenu == 'standard') %}
      <p>Side menu goes here.</p>
      {% elseif (page.pagemenu == 'import') %}
      {{ page.page_menu | raw }}
      {% else %}
      {% include "/_assets/includes/menus/docs.html.twig" %}
      {% endif %}
    </div>
    {% endblock body_menu_left %}
  </div>
  {% endblock body_sidebar_left %}
  {% block body_sidebar_right %}
    {% block body_menu_right %}{% endblock body_menu_right %}
    {% block body_announce_right %}{% endblock body_announce_right %}
  {% endblock body_sidebar_right %}
  {% block body_content %}
  <div id="content-main">
    {% block body_breadcrumb %}
    {% if (page['crumbs'] is defined) %}
    <div id="breadcrumb-box">
      {{ page.crumbs | raw }}
    </div>
    {% endif %}
    {% endblock body_breadcrumb %}
    {% block body_content_inner %}
    <div id="content-box">
      {{ page.main_content | raw }}
    </div>
    {% endblock body_content_inner %}
  </div>
  {% endblock body_content %}
  <footer id="page-footer">
    {% block body_footer %}
    {% include root_path ~ '/_assets/includes/page_footer.html.twig' %}
    {% endblock body_footer %}
  </footer>
  {% block body_scripts %}
    {% include root_path ~ '/_assets/includes/page_scripts.html.twig' %}
  {% endblock body_scripts %}
</body>
</html>
{# --- Copyright (c) 2017-2018 Mootly Obviate -- See /LICENSE.md -------------- #}
